.page {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $black;
}

main {
  flex-grow: 1;
}

a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}
