.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.5);
  backdrop-filter: blur(3px);

  &--show {
    display: block;
  }
}

.modal__inner {
  position: relative;
  top: 120px;
  left: 50%;
  display: flex;
  max-width: 728px;
  min-height: 444px;
  margin-left: -364px;
  background-color: $modal-inner-bg;

  &--success {
    padding: 0 140px;
    justify-content: center;
    align-items: center;
  }
}

.modal__close {
  @include button-reset;

  position: absolute;
  right: 12px;
  top: 7px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 19px;
    right: 3px;
    width: 32px;
    height: 1px;
    background-color: rgba($black, 0.2);
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    @include transition;
    background-color: $grey;
  }

  &:active::before,
  &:active::after {
    @include transition;
    background-color: rgba($grey, 0.5);
  }
}

.modal__form {
  width: 390px;
  padding: 72px 61px 20px 59px;
}

.modal__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: $grey;

  &--success {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $grey;
  }
}

.modal__inputs {
  margin-bottom: 20px;
}

.modal__wrapper {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;

  &:last-child {
    margin-bottom: 0;
  }

  &--required::before {
    content: "*";
    position: absolute;
    left: 15px;
    top: 7px;
    display: block;
    font-weight: bold;
    font-size: 17px;
    color: $orange;
  }
}

.modal__input {
  width: 100%;
  height: 50px;
  padding: 16px 13px;
  color: $grey;
  border: 1px solid $footer-border-color;

  &--tel {
    padding-left: 26px;
  }

  &--invalid {
    border-color: $orange;
  }

  &::placeholder {
    color: $grey;
  }

  &:hover {
    @include transition;
    border-color: rgba($black-alt, 0.3);
    box-shadow: 0 0 0 1px rgba($black-alt, 0.3);
  }

  &:focus {
    @include transition;
    border-color: $grey;
    box-shadow: 0 0 0 1px $grey;
  }
}

.modal__submit {
  width: 176px;
  margin: 0 auto;
  padding: 18px 20px 17px 20px;
}

@media (max-width: $desktop) {
  .modal__img-wrapper {
    display: none;
  }

  .modal__inner {
    left: 0;
    width: 70%;
    margin: 0 auto;
    background-color: $white;
  }

  .modal__form {
    width: 100%;
    padding: 100px 50px 50px;
    background-color: $white;
  }

  .modal__title {
    margin-bottom: 50px;
  }

  .modal__input {
    border: 1px solid rgba($black-alt, 0.3);
  }
}

@media (max-width: $tablet) {
  .modal__inner {
    width: 100%;
    min-height: 563px;
  }

  .modal__form {
    padding: 99px 16px 20px;
  }

  .modal__title {
    margin-bottom: 51px;
  }

  .modal__submit {
    width: 100%;
    padding: 20px 20px 18px 20px;
    font-size: 10px;
    line-height: 12px;
  }
}
